@import url('https://fonts.googleapis.com/css2?family=Poppins:...&display=swap'); /*Import Poppins font*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body { @apply font-poppins; } /* Apply Poppins font globally */
}